:root {
	--onHoverColor: #c0bcb9;
	/* #e67e22; */
	--onActiveColor: #23201e;
	/* #d35400; */
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	overflow-y: scroll;
}


/* nav-link */
.nav-link,
.nav-link.dropdown-item {
	font-weight: 500;
}


.nav-link:hover {
	color: var(--onHoverColor) !important;
}

.nav-link.active {
	color: var(--onActiveColor) !important;
	border-bottom: 2px solid var(--onActiveColor);
}

.nav-link.active:hover {
	color: var(--onHoverColor) !important;
	border-bottom-color: var(--onHoverColor);
}

/* nav-link for dropdown menu*/
#navbarDropdown + .dropdown-menu .dropdown-item {
	padding: 0.5rem 1.5rem;
}

.nav-link.dropdown-item:hover {
	background-color: transparent !important;
}

.nav-link.dropdown-item.active,
.nav-link.dropdown-item.active:focus {
	background-color: transparent !important;
	border-left: 2px solid var(--onActiveColor);
	border-bottom: none;
}

.nav-link.dropdown-item.active:hover {
	border-left-color: var(--onHoverColor);
	border-bottom: none;
}

.nav-link.dropdown-item-logout,
.nav-link.dropdown-item-logout.active {
	color: #f62008 !important;
}

.nav-link.dropdown-item-logout:hover {
	color: #941009 !important;
}

/* custom container style */
.custom-container {
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(255, 255, 255, 0.65);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-custom {
	background-color: rgba(242, 234, 234, 0.76);
}


/* navigation in profile */
.card-header-tabs .nav-link.active {
	background-color: rgba(242, 234, 234, 0.76) !important;
	border-color: rgba(242, 234, 234, 0.76) !important;
	color: var(--onActiveColor) !important;
}

.card-header-tabs .nav-link {
	color: rgba(0, 0, 0, 0.55) !important;
}

.card-header-tabs .nav-link:hover {
	color: #63605d !important;
}


/* volunteer cards style */
.volunteer-card {
	transition: background-color 0.2s ease, transform 0.2s ease;
	border: 1px solid #dee2e6;    
}
  
.volunteer-card:hover {
	background-color: #e7f1ff;
	cursor: pointer;
	transform: scale(1.01);
}
  
.volunteer-card.selected {
	border: 3px solid blue;
	background-color: #e0f0ff;
}
  
.volunteer-card.disabled {
	opacity: 0.6;              
	pointer-events: none;      
	cursor: not-allowed;       
	transition: opacity 0.2s;
}
  
.volunteer-card.disabled:hover {
	box-shadow: none;     
	transform: none;          
}
  